@model  List<LibreriaClases.DTO.DTOTipoAmbiente>
@{

    ViewBag.Title = "EliminarTipoPropiedad";
    Layout = "~/Views/Shared/MasterPanelAdministrador.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo de Ambiente</th>
                    <th scope="col">Activo</th>

                </tr>
            </thead>
            <tbody>
                @for (int m = 0; m < Model.Count; m++)
                {
                    <tr>
                        <th scope="row">@m</th>
                        <td>@Model.ElementAt(m).nombreTipoAmbiente</td>
                        <td></td>
                        <td><form action="/TipoAmbiente/EliminarAmbiente" method="post"><input type="hidden" name="id" value="@Model.ElementAt(m).tipoAmbienteId" /><button class="btn btn-danger" type="submit">Eliminar</button></form></td>
                    </tr>

                }



            </tbody>

        </table>
        
    </div>
</body>
</html>
