
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelControl.cshtml";
}
    <style>
        hr{
            background-color:black;
        }
        #contenedorCartelInformativo {

        }
        #cartelInformativo {
            width: auto;
            height: auto;
            background-color: #F2F2F2;
            border:5px;
            border-radius:5px;
            padding:20px;
            margin-bottom:20px;
            text-align:center;
            box-shadow:2px 2px 10px #666;
        }
        
        .Centrar {
            text-align:center;
        }
        #CartelTitulo{
            width:100%;
            height:300px;
            padding:20px;
            text-align:center;
            background-color:#F2F2F2;
            box-shadow:2px 2px 10px #666;
            margin-bottom:20px;
        }
    </style>
<div class="container mt-4">
    <div id="CartelTitulo">
        <h1>¡Bienvenido a su panel de control!</h1>
        <hr/>
        <p>Desde aquí usted podrá gestionar todo lo relacionado a sus publicaciones, cuenta, perfil, estadísicas, etc.</p>
    </div>
    
    
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div id="cartelInformativo">
                <p>@Html.ActionLink("Mis publicaciones", "Index","Error" ,new {codError=5,descripcionError="Error 0" }, new { @class = "btn btn-md btn-primary" })</p>

                <hr class="Separador" />
                <p>
                    Consulta las estadísticas de tus publicaciones y obten una respuesta en tiempo real. Nos preocupamos para que los datos presentados por Propy sean 100% fiables
                </p>
            </div>

        </div>
        <div class="col-md-3">
            <div id="cartelInformativo">
                <p>@Html.ActionLink("Mi perfil", "Index", "ABMUsuario",routeValues: null,htmlAttributes: new { @class = "btn btn-md btn-primary" })</p>

                <hr />
                <p>
                    Consulta las estadísticas de tus publicaciones y obten una respuesta en tiempo real. Nos preocupamos para que los datos presentados por Propy sean 100% fiables
                </p>
            </div>

        </div>

        <div class="col-md-3">
            <div id="cartelInformativo">
                <p>@Html.ActionLink("Mi lista de favoritos", "Index", "GestionarFavoritos",null, new { @class = "btn btn-md btn-info" })</p>

                <hr />
                <p>
                    Consulte las publicaciones agregadas recientemente a su lista de favoritos.
                </p>
            </div>

        </div>

        <div class="col-md-3">
            <div id="cartelInformativo">
                <p>@Html.ActionLink("Nuevo panel de control", "Index", "PruebaDashboard",null, new { @class = "btn btn-md btn-primary" })</p>

                <hr />
                <p>
                    Visite el nuevo panel de control que está siendo diseñado.
                </p>
            </div>

        </div>

    </div>

</div>







