@model IEnumerable<WebApp.Models.Provincia>
<select id="prov" class="form-control" name="provincia">
    @foreach (var item in Model) {
        <option value="@item.provinciaId">@item.nombreProvincia</option>
    }
    
</select>


