@using Microsoft.AspNet.Identity


@if (LibreriaExperto.Seguridad.ControlAcceso.Autorizacion(Session["IDUsuario"]))
{
    <ul class="navbar-nav justify-content-end ">
        <li class="nav-item mx-lg-2 " style="color:white;">Mis créditos: <label class="mx-auto my-auto" id="ActualizarCreditos"> </label></li>
        <li class="nav-item mx-lg-2 ">
              @Html.ActionLink("Mi Panel de Control", "Index", "PanelControl2", routeValues: null, htmlAttributes: new { title = "Manage",@class="",@style="text-decoration:none; color: white;" })
        </li>
        <li class="nav-item mx-lg-2 ">
            @Html.ActionLink("Cerrar Sesión","Logout","Usuario", routeValues: null, htmlAttributes: new { title = "Manage", @class = "", @style = "text-decoration:none; color: white;" })
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav float-lg-right">
        <li class="nav-item mx-lg-2">@Html.ActionLink("Registrarse", "CrearCuenta", "Usuario")</li>
        <li class="nav-item mx-lg-2">@Html.ActionLink("Iniciar sesión", "Login", "Usuario", routeValues: null, htmlAttributes: new { id = "loginLink" ,@style="text-decoration:none; color: white;" })</li>
    </ul>
}
