@model List<LibreriaClases.DTO.DTOTipoMoneda>
@{
    ViewBag.Title = "CrearPlan";
    Layout = "~/Views/Shared/MasterPanelAdministrador.cshtml";
}



<div class="container">
    <h2>Aquí podrás crear los planes que necesites.</h2>
    <div class="row">
        <div class="col-4">
            <label>Nombre del Plan</label>
            <input type="text" placeholder="Nombre" name="NombrePlan" />
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <label>Precio</label>
            <input class="col-2" type="number" placeholder="0" min="0" name="Precio" />
            <label>Seleccione el tipo de moneda</label>
            <select name="TipoMoneda">
                @for (int x = 0; x < Model.Count(); x++)
                {
                    <option value="@Model.ElementAt(x).tipoMonedaId">@Model.ElementAt(x).denominacionMoneda</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label>Cantidad de Créditos</label>
            <input type="number" placeholder="0" min="0" name="CantCreditos" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label>Acá van las características definidas por las reglas de negocio.</label>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>Cantidad de imágenes permitidas al publicar</label>
            <input type="number" placeholder="0" name="CantImage" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-column">
            <label>¿Permitir subir videos?<input class="ml-3" type="checkbox" name="PermitirVideo" /></label>
            <label>¿Permitir acceso a estadísticas avanzadas?<input class="ml-3" type="checkbox" name="PermitirEstadisticas" /></label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-danger" onclick="CrearPlan();">Crear</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <label id="resultadoOperacion"></label>
    </div>
</div>

