@model IEnumerable<WebApp.Models.TipoPublicacion>
<select class="form-control" name="tipoPublicacion">
    @foreach (var item in Model)
    {
        <option value="@item.tipoPublicacionId">@item.nombreTipoPublicacion</option>
    }

</select>

