
@{
    ViewBag.Title = "RecuperarContraseñaPaso2";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form action="@Url.Action("RecuperarContraseñaPaso2","Usuario")" method="post">
                
                <div class="card mt-5 mb-5">
                    <div class="card-header bg-dark">
                        <h2 class="text-center text-light">Recuperar clave</h2>
                    </div>
                    <div class="card-body bg-light border-dark">
                        @if (!String.IsNullOrEmpty(ViewBag.Error))
                        {
                            <div class="alert alert-danger">
                                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="email" class="form-control" name="email" placeholder="Ingrese su email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>


                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control" name="clave" placeholder="Ingrese su clave" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>


                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control" name="claveRepetida" placeholder="Repita su clave" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>


                        </div>

                    </div>
                    <div class="card-footer bg-dark">
                        <center>
                            <input type="submit" class="btn btn-lg btn-outline-success" value="Enviar" />
                        </center>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-3">

        </div>
    </div>

